{% load static %}
<!doctype html>
<html lang="en" dir="ltr">

<head>

    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'course/assets/images_ex/fav.png' %}" />

    <!-- TITLE -->
    <title>KFWC Admin | Dashboard </title>

    <!-- BOOTSTRAP CSS -->
    <link id="style" href="{% static 'course/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- STYLE CSS -->
    <link href="{% static 'course/assets/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'course/assets/css/dark-style.css' %}" rel="stylesheet" />
    <link href="{% static 'course/assets/css/transparent-style.css' %}" rel="stylesheet">
    <link href="{% static 'course/assets/css/skin-modes.css' %}" rel="stylesheet" />


    <!--- FONT-ICONS CSS -->
    <link href="{% static 'course/assets/css/icons.css' %}" rel="stylesheet" />

    <!-- COLOR SKIN CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="{% static 'course/assets/colors/color1.css" />

    <link href="{% static 'course/assets/css/style-custom.css' %} " rel="stylesheet" />
</head>

<body class="app sidebar-mini ltr light-mode">


    <!-- PAGE -->
    <div class="page">
        <div class="page-main">

            <!-- app-Header -->
            <div class="app-header header sticky">
                <div class="container-fluid main-container">
                    <div class="d-flex">
                        <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-bs-toggle="sidebar"
                            href="javascript:void(0)"></a>
                        <!-- sidebar-toggle-->
                        <a class="logo-horizontal " href="index.php">
                            <img src="{% static 'course/assets/images_ex/logo.png' %}" class="header-brand-img desktop-logo" alt="logo">
                            <img src="{% static 'course/assets/images_ex/logo.png' %}" class="header-brand-img light-logo1" alt="logo">
                        </a>

                        <div class="d-flex order-lg-2 ms-auto header-right-icons">
                            <!-- SEARCH -->
                            <button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto" type="button"
                                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4"
                                aria-controls="navbarSupportedContent-4" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon fe fe-more-vertical"></span>
                            </button>
                            <div class="navbar navbar-collapse responsive-navbar p-0">
                                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                                    <div class="d-flex order-lg-2">


                                        <div class="d-flex country">
                                            <a class="nav-link icon theme-layout nav-link-bg layout-setting">
                                                <span class="dark-layout"><i class="fe fe-moon"></i></span>
                                                <span class="light-layout"><i class="fe fe-sun"></i></span>
                                            </a>
                                        </div>


                                        <!-- SIDE-MENU -->
                                        <div class="dropdown d-flex profile-1">
                                            <a href="javascript:void(0)" data-bs-toggle="dropdown"
                                                class="nav-link leading-none d-flex">
                                                <img src="{% static 'course/assets/images_ex/user.png' %}" alt="profile-user"
                                                    class="avatar  profile-user brround cover-image">
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                                <div class="drop-heading">
                                                    <div class="text-center">
                                                        <h5 class="text-dark mb-0 fs-14 fw-semibold">{{request.user.first_name}}</h5>
                                                        <small class="text-muted">Web Admin</small>
                                                    </div>
                                                </div>
                                                <div class="dropdown-divider m-0"></div>
                                                <a class="dropdown-item" href="{% url 'user-profile' %}">
                                                    <i class="dropdown-icon fe fe-user"></i> Profile
                                                </a>
                                                <a class="dropdown-item" href="">
                                                    <i class="dropdown-icon fe fe-globe"></i> Website
                                                </a>

                                                <a class="dropdown-item" href="{% url 'logout-page' %}">
                                                    <i class="dropdown-icon fe fe-alert-circle"></i> Sign out
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /app-Header -->

            <!--APP-SIDEBAR-->
            <div class="sticky">
                <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
                <div class="app-sidebar">
                    <div class="side-header">
                        <!-- LOGO start -->
                        <a class="header-brand1" href="{% url 'home' %}">
                            <img src="{% static 'course/assets/images_ex/logo.png' %}" class="header-brand-img desktop-logo" alt="logo">
                            <img src="{% static 'course/assets/images_ex/logo.png' %}" class="header-brand-img toggle-logo" alt="logo">
                            <img src="{% static 'course/assets/images_ex/logo.png' %}" class="header-brand-img light-logo" alt="logo">
                            <img src="{% static 'course/assets/images_ex/logo.png' %}" class="header-brand-img light-logo1" alt="logo">
                        </a>
                        <!-- LOGO  end-->
                    </div>
                    <div class="main-sidemenu">
                        <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg"
                                fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
                            </svg></div>
                        <ul class="side-menu">
                            <li class="sub-category">
                                <h3>Main</h3>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item has-link" data-bs-toggle="slide" href="{% url 'home' %}"><i
                                        class="side-menu__icon fe fe-home"></i><span
                                        class="side-menu__label">Dashboard</span></a>
                            </li>

                           
                           
                          
                              <!-- Short Term Course-->
                              <li class="slide">
                                <a class="side-menu__item has-link" data-bs-toggle="slide" href="{% url 'short-term-course' %}"><i
                                        class="side-menu__icon fa fa-book"></i><span
                                        class="side-menu__label">Short Term Course</span></a>
                            </li>
                           
                          
                        </ul>
                        <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
                                width="24" height="24" viewBox="0 0 24 24">
                                <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
                            </svg></div>
                    </div>
                </div>
                <!--/APP-SIDEBAR-->
            </div>