
{% load static %}

<!doctype html>
<html lang="en" dir="ltr">

<head>

    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'course/assets/images_ex/fav.png' %}" />

    <!-- TITLE -->
    <title>Join IT Tech Admin | Login</title>

    <!-- BOOTSTRAP CSS -->
    <link id="style" href="{% static 'course/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- STYLE CSS -->
    <link href="{% static 'course/assets/css/custom.css' %}" rel="stylesheet" />
    <link href="{% static 'course/assets/css/style.css' %}" rel="stylesheet" />
	
    <link href="{% static 'course/assets/css/style-custom.css' %}" rel="stylesheet" />
    <link href="{% static 'course/assets/css/dark-style.css' %}" rel="stylesheet" />
    <link href="{% static 'course/assets/css/transparent-style.css' %}" rel="stylesheet">
    <link href="{% static 'course/assets/css/skin-modes.css' %}" rel="stylesheet" />

    <!--- FONT-ICONS CSS -->
    <link href="{% static 'course/assets/css/icons.css' %}" rel="stylesheet" />

    <!-- COLOR SKIN CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="{% static 'course/assets/colors/color1.css' %}" />

</head>

<body class="app sidebar-mini ltr login-img">

    <!-- BACKGROUND-IMAGE -->
    <div class="">

       

        <!-- PAGE -->
        <div class="page">
            <div class="">

                <!-- CONTAINER OPEN -->
               
                <div class="container-login100">
                    <div class="wrap-login100 p-6">
					 <div class="col col-login mx-auto m-5">
					   <div class="text-center">
							<a href="{% url 'home' %}"><img src="{% static 'course/assets/images_ex/logo.png' %}" class="header-brand-img" alt=""></a>
						</div>
					</div>

                    {% if messages %}
                    <ul class="messages my-2">
                        {% for message in messages %}
                       
                        <div class="alert alert-primary" role="alert">
                            {{ message }}
                          </div>

                        {% endfor %}
                    </ul>
                    {% endif %}

					 
                        <form class="login100-form validate-form" method="post">
                          
                            {% csrf_token %}
                               
                               
                                            <div class="wrap-input100 validate-input input-group" data-bs-validate="Valid email is required: ex@abc.xyz">
                                                <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                                    <i class="zmdi zmdi-email text-white" aria-hidden="true"></i>
                                                </a>
                                                <input class="input100 border-start-0 form-control ms-0" type="email" placeholder="Email" name="email" required >
                                            </div>
                                            <div class="wrap-input100 validate-input input-group" id="Password-toggle">
                                                <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                                    <i class="zmdi zmdi-eye text-white" aria-hidden="true"></i>
                                                </a>
                                                <input class="input100 border-start-0 form-control ms-0" type="password" placeholder="Password" name="password" required>
                                            </div>
                                           
                                            <div class="container-login100-form-btn">
                                                <button type="submit" class="login100-form-btn btn-primary">
                                                        Login
                                                </button>
                                            </div>

                                            
                                           

                          

                        </form>

                        <div class="container-login100-form-btn">
                            <a href="{% url 'register-page' %}" class="login100-form-btn btn-danger">
                                    Register
                            </a>
                        </div>
                    </div>
                </div>
                <!-- CONTAINER CLOSED -->
            </div>
        </div>
        <!-- End PAGE -->

    </div>
    <!-- BACKGROUND-IMAGE CLOSED -->

    <!-- JQUERY JS -->
    <script src="{% static 'course/assets/js/jquery.min.js' %}"></script>

    <!-- BOOTSTRAP JS -->
    <script src="{% static 'course/assets/plugins/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'course/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- SHOW PASSWORD JS -->
    <script src="{% static 'course/assets/js/show-password.min.js' %}"></script>

    <!-- GENERATE OTP JS -->
    <script src="{% static 'course/assets/js/generate-otp.js' %}"></script>

    <!-- Perfect SCROLLBAR JS-->
    <script src="{% static 'course/assets/plugins/p-scroll/perfect-scrollbar.js' %}"></script>

    <!-- Color Theme js -->
    <script src="{% static 'course/assets/js/themeColors.js' %}"></script>

    <!-- CUSTOM JS -->
    <script src="{% static 'course/assets/js/custom.js' %}"></script>


</body>

</html>